Приведите пример создания переменной каждого типа данных (str, int, float, dict, set, list, bool) и выведите их значения на экран.

In [ ]:
#создай переменные тут, снизу они запринтятся сами
str_var =
int_var = 
float_var =
dict_var =
set_var = 
list_var = 
bool_var = 




print(str_var)
print(int_var)
print(float_var)
print(dict_var)
print(set_var)
print(list_var)
print(bool_var)

Преобразуйте строку "123" в целое число и выведите его на экран.

In [ ]:
string_number = "123"

int_num = 

print(int_num)

## Функции и методы:

Используя метод replace, замените все вхождения слова "old" на "new" в строке "I like old things".

In [ ]:
string = "I like old things"

new_string = 

print(new_string)

Используя функцию len, найдите длину списка [1, 2, 3, 4, 5].

In [ ]:
list_var = [1, 2, 3, 4, 5]

length = 

print(length)

Извлеките второй элемент из списка [1, 2, 3, 4, 5].

In [ ]:
list_var = [1, 2, 3, 4, 5]

second_element = 

print(second_element)

Извлеките последние три элемента из списка [1, 2, 3, 4, 5, 6, 7, 8, 9].

In [ ]:
list_var = [1, 2, 3, 4, 5, 6, 7, 8, 9]

last_three_elements = 

print(last_three_elements)

## F-строки:

Создайте строку с именем и возрастом человека, используя f-строку.

In [ ]:
name = 
age =

message = f" "   # Мое имя - name, а возраст - age

print(message)

Создайте строку, содержащую квадрат числа, используя f-строку.

In [ ]:
number = 5

square = 

message = f""  # Квадрат number равен square.

print(message)

## Множества

Создайте множество из списка A и выведите количество уникальных значений.

In [ ]:
A = [1, 1, 2, 3, 4, 1, 1, 2, 2, 2, 3, 3, 4, 6, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 12, 12, 15, 15, 17, 19, 21, 14, 14, 245, 102, 12, 14, 17, 16, 102, 104, 106]

Создайте множество из строки "Hello, world!" и выведите количество его элементов на экран.

In [ ]:
string = "Hello, world!"

Добавьте элемент 6 в множество {1, 2, 3, 4, 5}

In [ ]:
set_var = {1, 2, 3, 4, 5}

print(set_var)

## Список

Добавьте элемент 6 в конец списка [1, 2, 3, 4, 5].

In [ ]:
list_var = [1, 2, 3, 4, 5]



print(list_var)

Добавьте строку "new element" в конец списка ["old", "elements"].

In [ ]:
list_var = ["old", "elements"]

print(list_var)